@import "components/reset.scss";
@import "components/header.scss";
@import "components/footer.scss";

.container {
  width: 1040px;
  margin: 0 auto;
}

body {
  background-color: pink;
  padding-top: 100px;
}
