.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: #fff;
  text-align: center;
  padding: 4 30 0 0;
  align-items: center;
  justify-content: flex-end; }

.topNavi ul {
  display: flex;
  position: relative;
  height: 100px;
  padding: 4px 30px 0 0;
  align-items: center;
  list-style-type: none;
  padding: 4 30 0 0; }
  .topNavi ul a {
    display: block;
    color: #65483a;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 1px 14px;
    border-right: 1px solid #d1d1d1; }
    .topNavi ul a .mark1 {
      border-right: 1px solid #d1d1d1; }

.logo {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .logo .Type1 {
    width: 42px; }
  .logo .Type2 {
    width: 220px;
    margin: 0 0 4px 7px; }

footer {
  background-color: olive; }
  footer .footer-top {
    border-bottom: 1px solid white; }
    footer .footer-top .fttop-images {
      display: flex;
      justify-content: space-around; }
      footer .footer-top .fttop-images img {
        width: 180px;
        height: 150px;
        margin-right: 10px; }
    footer .footer-top .fttop-menus {
      display: flex;
      justify-content: space-around; }
  footer .footer-middle {
    display: flex;
    align-items: center; }
    footer .footer-middle .ftmid-symbol {
      width: 50px;
      height: 50px; }
    footer .footer-middle .ftmid-logo {
      width: 200px;
      height: 50px; }
    footer .footer-middle .ftmid-menu {
      display: flex;
      list-style-type: none; }
      footer .footer-middle .ftmid-menu li {
        margin-right: 10px; }
  footer .footer-buttom {
    background-color: blue;
    color: white;
    font-size: 6px; }
    footer .footer-buttom .ftbut-menus {
      display: flex;
      align-items: center; }

body {
  background-color: pink;
  padding-top: 100px; }
