.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: #fff;
  text-align: center;
  padding: 4 30 0 0;
  align-items: center;
  justify-content: flex-end; }

.topNavi ul {
  display: flex;
  position: relative;
  list-style-type: none;
  padding: 4 30 0 0; }

.logo {
  display: flex;
  align-items: center; }

footer {
  background-color: olive; }
  footer .footer-top {
    border-bottom: 1px solid white; }
    footer .footer-top .fttop-images {
      display: flex;
      justify-content: space-around; }
      footer .footer-top .fttop-images img {
        width: 180px;
        height: 150px;
        margin-right: 10px; }
    footer .footer-top .fttop-menus {
      display: flex;
      justify-content: space-around; }
  footer .footer-middle {
    display: flex;
    align-items: center; }
    footer .footer-middle .ftmid-symbol {
      width: 50px;
      height: 50px; }
    footer .footer-middle .ftmid-logo {
      width: 200px;
      height: 50px; }
    footer .footer-middle .ftmid-menu {
      display: flex;
      list-style-type: none; }
      footer .footer-middle .ftmid-menu li {
        margin-right: 10px; }
  footer .footer-buttom {
    background-color: blue;
    color: white;
    font-size: 6px; }
    footer .footer-buttom .ftbut-menus {
      display: flex;
      align-items: center; }

body {
  background-color: yellowgreen;
  padding-top: 100px; }
