footer {
  position: relative;
  background-color: #65483a;

  a{
    color: white;
    text-decoration: none;

    &:hover{
      opacity: 0.5;
      transition: 0.2s ;
    }
  }

  .scrollTop{
    $w: 50px;
    background-color: orange;
    color: white;
    width: $w;
    height: $w;
    border-radius: 50%;
    text-align: center;
    line-height: $w;
    position: absolute;
    bottom: calc(100% - #{$w} / 2);
    right: 20px;
    cursor: pointer;

    &:hover{
      opacity: 0.5;
      transition: 0.2s ;

    }
  }
  

  // footerトップ部
  .footer-top{
    // height: 500px;
    padding-top: 70px;
    border-bottom:1px solid white;

    .fttop-images{
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      img{
        width: 180px;
        height: 150px;
        margin-right: 30px;
      }
    }

    .fttop-menus{
      display: flex;
      justify-content: space-between;
      
      .fttop-menu{
        margin-bottom: 30px;
        
        h3{
          // color: white;
          font-weight: bold;
          margin-bottom: 20px;
          height: 20px;

        }
        
        p{
          font-size: 14px;
          margin-bottom: 15px;

        }
      }
    }
  }
  // footerミドル部
  .footer-middle{
    // height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ftmid-symbol{
      width: 50px;
      height: 50px;
      fill: white;
      stroke: white;
    }
    
    .ftmid-logo{
      width: 200px;
      height: 50px;
      fill: white;
      stroke: white;
    }


    .ftmid-menu{
      display: flex;
      list-style-type: none;
      align-items: center;

      li{
        margin-right: 10px;
        font-size: 14px;
       
        &:nth-child(4){
          border-radius: 50%;
          border: 1px solid white;
          padding: 5px;
        }
        &:nth-child(5){
          @extend li:nth-child(4);
        }
        &:nth-child(6){
          @extend li:nth-child(4);
        }
      }

    }
  }

  .footer-buttom{
    background-color: #41291d;
    color: white;
    .ftbtm-menus{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      p{
        font-size: 10px;

      }
    }
  }
}
